/* grid.css */

div.grid-view table th, div.grid-view table td
{
	text-align: center;
	vertical-align: middle;
	font-size: 14px;
}

button.action
{
	margin: 0 2px; 
}

div.tooltip
{
	font-size: 13px;
}
