/* view.index.css */

@import '../grid.css';

p.under-header
{
	margin-bottom: 40px;
}

div.filters
{
	text-align: center;
}

div.alphabet a, div.sequence a
{
	padding-left: 6px;
	padding-right: 6px;
	margin-bottom: 10px;
}

div.alphabet a.btn-inverse, div.sequence a.btn-inverse
{
	padding-left: 15px;
	padding-right: 15px;
}
